[submodule "pack/global/start/badwolf"]
	path = pack/global/start/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "pack/global/start/unicode.vim"]
	path = pack/global/start/unicode.vim
	url = https://github.com/chrisbra/unicode.vim.git
[submodule "pack/docker/start/Dockerfile.vim"]
	path = pack/docker/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "pack/global/start/limelight.vim"]
	path = pack/global/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "pack/global/start/vim-markdown"]
	path = pack/global/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/global/start/yaml-folds"]
	path = pack/global/start/yaml-folds
	url = https://github.com/pedrohdz/vim-yaml-folds.git
[submodule "after/pack/global/start/ale"]
	path = after/pack/global/start/ale
	url = https://github.com/dense-analysis/ale.git
